In [4]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait

import pandas as pd

In [5]:
df = pd.read_csv("yelp.csv")
df.head()

,categories,name,price,rating,url
0,"Seafood, Burgers",Burger & Lobster,$$,4.0,https://www.yelp.com/biz/burger-and-lobster-ne...
1,Burgers,The Burgary,$$,4.5,https://www.yelp.com/biz/the-burgary-new-york?...
2,"Gastropubs, Burgers",Juanchi’s Burger,$$,4.5,https://www.yelp.com/biz/juanchis-burger-brook...
3,Burgers,Black Iron Burger,$$,4.0,https://www.yelp.com/biz/black-iron-burger-new...
4,"American (New), Breakfast & Brunch, Burgers",Benson’s NYC,$$,4.5,https://www.yelp.com/biz/bensons-nyc-new-york?...

# Functions

In [6]:
len("This is a sentence")

18

In [7]:
abs(-4)

4

In [8]:
round(5.437262846372)

5

In [9]:
round(5.437262846372, 7)

5.4372628

In [10]:
from statistics import mean

In [11]:
mean([4, 6, 1, 2, 3, 4, 5, 6, 7])

4.222222222222222

In [24]:
# def -> I'm going to define a function
# add_two_numbers -> the name of the function
# (a, b) -> this is what I can give the function
# and then you add a colon
def add_two_numbers(a, b):
    # print("I am looking at", a)
    # print("I am looking at", b)
    # Send this back!!!!!
    return a + b

# CHALLENGE: Try to use this function
# with the numbers 2 and 3
added = add_two_numbers(2, 3)
print("The number is", added)

The number is 5

In [50]:
# $ - cheap
# $$ - normal
# $$$ - expensive
# $$$$ - really expensive

def get_price_range(dollar_signs):
    if dollar_signs == "$":
        return 'cheap'
    elif dollar_signs == "$$":
        return 'normal'
    elif dollar_signs == "$$$":
        return 'expensive'
    elif dollar_signs == "$$$$":
        return 'really expensive'

In [51]:
get_price_range("$")

'cheap'

### We have a function, we have a dataframe...

Take one of our columns and run `get_price_range` on every single row

In [58]:
df['price_range'] = df.price.apply(get_price_range)
df.head()

,categories,name,price,rating,url,price_range
0,"Seafood, Burgers",Burger & Lobster,$$,4.0,https://www.yelp.com/biz/burger-and-lobster-ne...,normal
1,Burgers,The Burgary,$$,4.5,https://www.yelp.com/biz/the-burgary-new-york?...,normal
2,"Gastropubs, Burgers",Juanchi’s Burger,$$,4.5,https://www.yelp.com/biz/juanchis-burger-brook...,normal
3,Burgers,Black Iron Burger,$$,4.0,https://www.yelp.com/biz/black-iron-burger-new...,normal
4,"American (New), Breakfast & Brunch, Burgers",Benson’s NYC,$$,4.5,https://www.yelp.com/biz/bensons-nyc-new-york?...,normal

In [67]:
def get_somas_opinion(row):
    # If it's cheap, and if the word "Seafood" is not in the category
    if row['price'] == '$' and 'Seafood' not in row['categories']:
        return 'love'
    else:
        return 'hate'

In [70]:
# EVERY SINGLE TIME YOU DO DF.APPLY
# YOU HAVE TO USE AXIS=1 OR ELSE 
# YOU'LL GET AN ERROR THAT YOU WON'T
# UNDERSTAND BECAUSE THE ERROR IS NOT
# "YOU SHOULD HAVE USED AXIS=1," IT'S
# SOMETHING UNIQUE AND BAD
df['somas_opinion'] = df.apply(get_somas_opinion, axis=1)
df.head()

,categories,name,price,rating,url,price_range,somas_opinion
0,"Seafood, Burgers",Burger & Lobster,$$,4.0,https://www.yelp.com/biz/burger-and-lobster-ne...,normal,hate
1,Burgers,The Burgary,$$,4.5,https://www.yelp.com/biz/the-burgary-new-york?...,normal,hate
2,"Gastropubs, Burgers",Juanchi’s Burger,$$,4.5,https://www.yelp.com/biz/juanchis-burger-brook...,normal,hate
3,Burgers,Black Iron Burger,$$,4.0,https://www.yelp.com/biz/black-iron-burger-new...,normal,hate
4,"American (New), Breakfast & Brunch, Burgers",Benson’s NYC,$$,4.5,https://www.yelp.com/biz/bensons-nyc-new-york?...,normal,hate

# Step 1: Let's just scrape one page first

We want to visit the page and get the address

In [71]:
# Open up a Chrome
driver = webdriver.Chrome()

In [72]:
# Visit the URL
url = "https://www.yelp.com/biz/burger-and-lobster-new-york?osq=burgers"
driver.get(url)

In [75]:
address = driver.find_element_by_class_name("street-address").text
address

'39 W 19th St\nNew York, NY 10011'

In [76]:
address[-5:]

'10011'

In [79]:
zipcode = address.split(" ")[-1]
zipcode

'10011'

## Step 2: Put it all in one cell

In [80]:
# Open up a Chrome
driver = webdriver.Chrome()

# Visit the URL
url = "https://www.yelp.com/biz/burger-and-lobster-new-york?osq=burgers"
driver.get(url)
address = driver.find_element_by_class_name("street-address").text
zipcode = address.split(" ")[-1]

print("Address is", address)
print("Zip code is", zipcode)

Address is 39 W 19th St
New York, NY 10011
Zip code is 10011

## Step 3: Turn it into a function that takes a `row`

This will return a dataframe

In [88]:
def get_address_info(row):
    # Visit the URL from the row
    driver.get(row['url'])
    
    # Grab the address
    address = driver.find_element_by_class_name("street-address").text
    zipcode = address.split(" ")[-1]

    # Print it out
    print("Address is", address)
    print("Zip code is", zipcode)

    # Return the zipcode and the address
    # The things in the quotes are the new column names
    return pd.Series({
        'zipcode': zipcode,
        'address': address
    })

In [91]:
# Open up a Chrome
# driver = webdriver.Chrome()

new_df = df.head(10).apply(get_address_info, axis=1).join(df)
new_df

Address is 39 W 19th St
New York, NY 10011
Zip code is 10011
Address is 39 W 19th St
New York, NY 10011
Zip code is 10011
Address is 67 Clinton St
New York, NY 10002
Zip code is 10002
Address is 225 S 1st St
Brooklyn, NY 11211
Zip code is 11211
Address is 245 W 38th St
New York, NY 10018
Zip code is 10018
Address is 181 Essex St
New York, NY 10002
Zip code is 10002
Address is 83 Baxter St
New York, NY 10013
Zip code is 10013
Address is 282 Atlantic Ave
Brooklyn, NY 11201
Zip code is 11201
Address is 131 2nd Ave
New York, NY 10003
Zip code is 10003
Address is 32-02 30th Ave
Astoria, NY 11102
Zip code is 11102
Address is 259 5th Ave
Brooklyn, NY 11215
Zip code is 11215

,address,zipcode,categories,name,price,rating,url,price_range,somas_opinion
0,"39 W 19th St\nNew York, NY 10011",10011,"Seafood, Burgers",Burger & Lobster,$$,4.0,https://www.yelp.com/biz/burger-and-lobster-ne...,normal,hate
1,"67 Clinton St\nNew York, NY 10002",10002,Burgers,The Burgary,$$,4.5,https://www.yelp.com/biz/the-burgary-new-york?...,normal,hate
2,"225 S 1st St\nBrooklyn, NY 11211",11211,"Gastropubs, Burgers",Juanchi’s Burger,$$,4.5,https://www.yelp.com/biz/juanchis-burger-brook...,normal,hate
3,"245 W 38th St\nNew York, NY 10018",10018,Burgers,Black Iron Burger,$$,4.0,https://www.yelp.com/biz/black-iron-burger-new...,normal,hate
4,"181 Essex St\nNew York, NY 10002",10002,"American (New), Breakfast & Brunch, Burgers",Benson’s NYC,$$,4.5,https://www.yelp.com/biz/bensons-nyc-new-york?...,normal,hate
5,"83 Baxter St\nNew York, NY 10013",10013,"Burgers, Mexican",Breakroom,$,4.5,https://www.yelp.com/biz/breakroom-new-york?os...,cheap,love
6,"282 Atlantic Ave\nBrooklyn, NY 11201",11201,"Burgers, Bars",Two 8 Two Bar & Burger,$$,4.0,https://www.yelp.com/biz/two-8-two-bar-and-bur...,normal,hate
7,"131 2nd Ave\nNew York, NY 10003",10003,Burgers,Paul’s Da Burger Joint,$,4.0,https://www.yelp.com/biz/pauls-da-burger-joint...,cheap,love
8,"32-02 30th Ave\nAstoria, NY 11102",11102,Burgers,Burger Club,$$,4.0,https://www.yelp.com/biz/burger-club-astoria?o...,normal,hate
9,"259 5th Ave\nBrooklyn, NY 11215",11215,"Gastropubs, Burgers, Beer, Wine & Spirits",Brooklyn Burgers & Beer,$$,4.0,https://www.yelp.com/biz/brooklyn-burgers-and-...,normal,hate

In [92]:
new_df.to_csv("yelp-with-zipcodes.csv", index=False)

# Step 1: Try to scrape with a single row

Visit the [Department of Health violations page](http://a816-restaurantinspection.nyc.gov/RestaurantInspection/SearchBrowse.do) and type the `name` and `zipcode` into the correct fields

In [95]:
name = "Burger & Lobster"
zipcode = "10011"

In [ ]:
# Visit the URL (you don't need to use a variable name)
driver.get("http://a816-restaurantinspection.nyc.gov/RestaurantInspection/SearchBrowse.do")

In [105]:
# Type in the values using Selenium .send_keys
import time

driver.find_element_by_id("searchByNameText").send_keys("Burger & Lobster")
driver.find_element_by_id("searchByZipCodeText").send_keys("10011")
# Just wait for one second
time.sleep(1)

In [106]:
button = driver.find_element_by_name("button_display")
button.click()

In [107]:
# Find the thing with the class 'resultCell'
# and then find the link inside of that
# Then click it
time.sleep(1)
driver.find_element_by_class_name("resultCell").find_element_by_tag_name("a").click()

In [108]:
time.sleep(1)
points = driver.find_element_by_id("violationScore").text
violations = driver.find_element_by_id("violationDesc").text

In [109]:
points

'Violation points: 12'

In [110]:
violations

'Sanitary Violations\n1) Cold food item held above 41º F (smoked fish and reduced oxygen packaged foods above 38 ºF) except during necessary preparation.\n2) Thawing procedures improper.\n3) Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.'

## Step 2: Move everything into one cell

In [111]:
import time

# Visit the URL (you don't need to use a variable name)
driver.get("http://a816-restaurantinspection.nyc.gov/RestaurantInspection/SearchBrowse.do")

# Type in the values using Selenium .send_keys
driver.find_element_by_id("searchByNameText").send_keys("Burger & Lobster")
driver.find_element_by_id("searchByZipCodeText").send_keys("10011")

# Just wait for one second
time.sleep(1)

button = driver.find_element_by_name("button_display")
button.click()

time.sleep(1)
driver.find_element_by_class_name("resultCell").find_element_by_tag_name("a").click()

time.sleep(1)
points = driver.find_element_by_id("violationScore").text
violations = driver.find_element_by_id("violationDesc").text

print("Points look like", points)
print("Violations look like", violations)

Points look like Violation points: 12
Violations look like Sanitary Violations
1) Cold food item held above 41º F (smoked fish and reduced oxygen packaged foods above 38 ºF) except during necessary preparation.
2) Thawing procedures improper.
3) Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.

## Step 3: Convert into a function

Make sure you use `row['whatever']` instead of your original values (`name` or `url` or whatever you are searching for).

1. Indent
2. Do the `def functionname(row):` thing
3. Change any variables that need to be about the row
4. Return `pd.Series` etc etc

In [118]:
def get_violations(row):
    try:
        # Visit the URL (you don't need to use a variable name)
        driver.get("http://a816-restaurantinspection.nyc.gov/RestaurantInspection/SearchBrowse.do")

        # Type in the values using Selenium .send_keys
        # Use the values from the row - treat it like a dictionary
        driver.find_element_by_id("searchByNameText").send_keys(row['name'])
        driver.find_element_by_id("searchByZipCodeText").send_keys(row['zipcode'])

        # Just wait for one second
        time.sleep(1)

        button = driver.find_element_by_name("button_display")
        button.click()

        time.sleep(1)
        driver.find_element_by_class_name("resultCell").find_element_by_tag_name("a").click()

        time.sleep(1)
        points = driver.find_element_by_id("violationScore").text
        violations = driver.find_element_by_id("violationDesc").text

        print("Points look like", points)
        print("Violations look like", violations)

        return pd.Series({
            'points': points,
            'violations': violations
        })
    except:
        return pd.Series({})

In [119]:
violations_df = new_df.apply(get_violations, axis=1).join(new_df)
violations_df

Points look like Violation points: 12
Violations look like Sanitary Violations
1) Cold food item held above 41º F (smoked fish and reduced oxygen packaged foods above 38 ºF) except during necessary preparation.
2) Thawing procedures improper.
3) Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.
Points look like Violation points: 12
Violations look like Sanitary Violations
1) Cold food item held above 41º F (smoked fish and reduced oxygen packaged foods above 38 ºF) except during necessary preparation.
2) Thawing procedures improper.
3) Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.
Points look like Violation points: 23
Violations look like Sanitary Violations
1) Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.
2) Evidence of rats or live rats present in facility's food and/or non-food areas.
3) Food not protected from potential source of contamination during storage, preparation, transportation, display or service.
4) Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.
Points look like Violation points: 13
Violations look like Sanitary Violations
1) Food not protected from potential source of contamination during storage, preparation, transportation, display or service.
2) Food contact surface not properly washed, rinsed and sanitized after each use and following any activity when contamination may have occurred.
Points look like Violation points: 8
Violations look like Sanitary Violations
1) Wiping cloths soiled or not stored in sanitizing solution.
2) Accurate thermometer not provided in refrigerated or hot holding equipment.
Points look like Violation points: 10
Violations look like Sanitary Violations
1) Filth flies or food/refuse/sewage-associated (FRSA) flies present in facility’s food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.
2) Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.
Points look like Violation points: 6
Violations look like Sanitary Violations
1) Food contact surface not properly washed, rinsed and sanitized after each use and following any activity when contamination may have occurred.
Points look like Violation points: 9
Violations look like Sanitary Violations
1) Food not protected from potential source of contamination during storage, preparation, transportation, display or service.
2) Plumbing not properly installed or maintained; anti-siphonage or backflow prevention device not provided where required; equipment or floor not properly drained; sewage disposal system in disrepair or not functioning properly.
3) Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.
Points look like Violation points: 10
Violations look like Sanitary Violations
1) Evidence of mice or live mice present in facility's food and/or non-food areas.
2) Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.

,points,violations,address,zipcode,categories,name,price,rating,url,price_range,somas_opinion
0,Violation points: 12,Sanitary Violations\n1) Cold food item held ab...,"39 W 19th St\nNew York, NY 10011",10011,"Seafood, Burgers",Burger & Lobster,$$,4.0,https://www.yelp.com/biz/burger-and-lobster-ne...,normal,hate
1,Violation points: 23,Sanitary Violations\n1) Food worker does not u...,"67 Clinton St\nNew York, NY 10002",10002,Burgers,The Burgary,$$,4.5,https://www.yelp.com/biz/the-burgary-new-york?...,normal,hate
2,Violation points: 13,Sanitary Violations\n1) Food not protected fro...,"225 S 1st St\nBrooklyn, NY 11211",11211,"Gastropubs, Burgers",Juanchi’s Burger,$$,4.5,https://www.yelp.com/biz/juanchis-burger-brook...,normal,hate
3,Violation points: 8,Sanitary Violations\n1) Wiping cloths soiled o...,"245 W 38th St\nNew York, NY 10018",10018,Burgers,Black Iron Burger,$$,4.0,https://www.yelp.com/biz/black-iron-burger-new...,normal,hate
4,Violation points: 10,Sanitary Violations\n1) Filth flies or food/re...,"181 Essex St\nNew York, NY 10002",10002,"American (New), Breakfast & Brunch, Burgers",Benson’s NYC,$$,4.5,https://www.yelp.com/biz/bensons-nyc-new-york?...,normal,hate
5,NaN,NaN,"83 Baxter St\nNew York, NY 10013",10013,"Burgers, Mexican",Breakroom,$,4.5,https://www.yelp.com/biz/breakroom-new-york?os...,cheap,love
6,NaN,NaN,"282 Atlantic Ave\nBrooklyn, NY 11201",11201,"Burgers, Bars",Two 8 Two Bar & Burger,$$,4.0,https://www.yelp.com/biz/two-8-two-bar-and-bur...,normal,hate
7,Violation points: 6,Sanitary Violations\n1) Food contact surface n...,"131 2nd Ave\nNew York, NY 10003",10003,Burgers,Paul’s Da Burger Joint,$,4.0,https://www.yelp.com/biz/pauls-da-burger-joint...,cheap,love
8,Violation points: 9,Sanitary Violations\n1) Food not protected fro...,"32-02 30th Ave\nAstoria, NY 11102",11102,Burgers,Burger Club,$$,4.0,https://www.yelp.com/biz/burger-club-astoria?o...,normal,hate
9,Violation points: 10,Sanitary Violations\n1) Evidence of mice or li...,"259 5th Ave\nBrooklyn, NY 11215",11215,"Gastropubs, Burgers, Beer, Wine & Spirits",Brooklyn Burgers & Beer,$$,4.0,https://www.yelp.com/biz/brooklyn-burgers-and-...,normal,hate

In [ ]:
violations_df